.testContainer {
    width: 100%;
    display: flex;
    flex-flow: nowrap column;
    overflow: hidden;
}

.panel {
    display: flex;
}

.body {
    flex-grow: 12;
    display: flex;
    flex-flow: row nowrap;
}

.sidebar {
    background: lightpink;
    min-width: 50px;
    width: 100px;
    flex-grow: 2;
}

.withMargin {
    margin: 10px;
    box-sizing: border-box;
}

.content {
    flex-grow: 10;
}

.customHandle {
    cursor: ew-resize;
    width: 10px;
    height: 100px;
    margin: 0px -5px;
    background: lightblue;
    border: 2px solid gray;
    border-radius: 2px;
    text-align: center;
    z-index: 99999;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.customResizeBorder {
    cursor: ew-resize;
    width: 5px;
    background: gray;
    display: flex;
    z-index: 99999;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: visible;
}
